<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ueit.health.mapper.UeitLocationMapper">

    <resultMap type="UeitLocation" id="UeitLocationResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="deviceId"    column="device_id"    />
        <result property="accuracy"    column="accuracy"    />
        <result property="altitude"    column="altitude"    />
        <result property="latitude"    column="latitude"    />
        <result property="longitude"    column="longitude"    />
        <result property="location"    column="location"    />
        <result property="createTime"    column="create_time"    />
        <result property="readTime"    column="read_time"    />
        <result property="type"    column="type"    />
    </resultMap>

    <sql id="selectUeitLocationVo">
        select id, user_id, device_id, accuracy, altitude, latitude, longitude, location, create_time, read_time,type from ueit_location
    </sql>

    <select id="selectUeitLocationList" parameterType="UeitLocation" resultMap="UeitLocationResult">
        <include refid="selectUeitLocationVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="deviceId != null "> and device_id = #{deviceId}</if>
            <if test="accuracy != null "> and accuracy = #{accuracy}</if>
            <if test="altitude != null "> and altitude = #{altitude}</if>
            <if test="latitude != null  and latitude != ''"> and latitude = #{latitude}</if>
            <if test="longitude != null  and longitude != ''"> and longitude = #{longitude}</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
            <if test="readTime != null "> and read_time = #{readTime}</if>
            <if test="type != null "> and type = #{type}</if>
        </where>
        order by id desc
    </select>

    <select id="selectUeitLocationById" parameterType="Long" resultMap="UeitLocationResult">
        <include refid="selectUeitLocationVo"/>
        where id = #{id}
    </select>
    <select id="getDataBoard" resultType="com.ueit.health.domain.UeitLocation">
        select id, user_id, device_id, accuracy, altitude, latitude, longitude, location, create_time as readTime1, read_time,type from ueit_location
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="beginReadTime != null and endReadTime != null"> and create_time BETWEEN #{beginReadTime} AND #{endReadTime}</if>
        </where>
    </select>
    <select id="realTimeTracking" resultType="com.ueit.health.domain.dto.RealTimeTracking">
        select accuracy, altitude, latitude, longitude, create_time as readTime from ueit_location
        WHERE user_id = #{userId}
        ORDER BY create_time desc
        LIMIT 1;
    </select>
    <select id="pathList" resultType="com.ueit.health.domain.dto.RealTimeTracking">
        select accuracy, altitude, latitude, longitude, type, create_time as readTime from ueit_location
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="beginReadTime != null and endReadTime != null"> and create_time BETWEEN #{beginReadTime} AND #{endReadTime}</if>
        </where>
        ORDER BY create_time
    </select>
    <select id="selectUeitLocationByUserId" resultType="com.ueit.health.domain.UeitLocation">
        <include refid="selectUeitLocationVo"/>
        where user_id = #{userId}
        ORDER BY create_time DESC
        LIMIT 1;
    </select>

    <insert id="insertUeitLocation" parameterType="UeitLocation" useGeneratedKeys="true" keyProperty="id">
        insert into ueit_location
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="deviceId != null">device_id,</if>
            <if test="accuracy != null">accuracy,</if>
            <if test="altitude != null">altitude,</if>
            <if test="latitude != null">latitude,</if>
            <if test="longitude != null">longitude,</if>
            <if test="location != null">location,</if>
            <if test="createTime != null">create_time,</if>
            <if test="readTime != null">read_time,</if>
            <if test="type != null">type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="deviceId != null">#{deviceId},</if>
            <if test="accuracy != null">#{accuracy},</if>
            <if test="altitude != null">#{altitude},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="location != null">#{location},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="readTime != null">#{readTime},</if>
            <if test="type != null">#{type},</if>
         </trim>
    </insert>

    <update id="updateUeitLocation" parameterType="UeitLocation">
        update ueit_location
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="accuracy != null">accuracy = #{accuracy},</if>
            <if test="altitude != null">altitude = #{altitude},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="location != null">location = #{location},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="readTime != null">read_time = #{readTime},</if>
            <if test="type != null">type = #{type},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUeitLocationById" parameterType="Long">
        delete from ueit_location where id = #{id}
    </delete>

    <delete id="deleteUeitLocationByIds" parameterType="String">
        delete from ueit_location where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
