<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qkyd.health.mapper.HealthReportMapper">

    <resultMap type="HealthReport" id="HealthReportResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="reportType"    column="report_type"    />
        <result property="reportDate"    column="report_date"    />
        <result property="reportTitle"    column="report_title"    />
        <result property="summary"    column="summary"    />
        <result property="riskLevel"    column="risk_level"    />
        <result property="abnormalCount"    column="abnormal_count"    />
        <result property="avgHeartRate"    column="avg_heart_rate"    />
        <result property="avgBloodPressure"    column="avg_blood_pressure"    />
        <result property="totalSteps"    column="total_steps"    />
        <result property="fileUrl"    column="file_url"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectHealthReportVo">
        select id, user_id, report_type, report_date, report_title, summary, risk_level, abnormal_count, avg_heart_rate, avg_blood_pressure, total_steps, file_url, created_by, create_time, update_by, update_time from health_report
    </sql>

    <select id="selectHealthReportList" parameterType="HealthReport" resultMap="HealthReportResult">
        <include refid="selectHealthReportVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="reportType != null  and reportType != ''"> and report_type = #{reportType}</if>
            <if test="reportDate != null"> and report_date = #{reportDate}</if>
            <if test="riskLevel != null  and riskLevel != ''"> and risk_level = #{riskLevel}</if>
        </where>
        order by report_date desc, create_time desc
    </select>

    <select id="selectHealthReportById" parameterType="Long" resultMap="HealthReportResult">
        <include refid="selectHealthReportVo"/>
        where id = #{id}
    </select>

    <select id="statisticsByUserAndDate" resultMap="HealthReportResult">
        SELECT 
            AVG(hr.rate) as avg_heart_rate,
            CONCAT(AVG(b.low_pressure), '/', AVG(b.high_pressure)) as avg_blood_pressure,
            SUM(s.steps) as total_steps
        FROM qkyd_heart_rate hr
        LEFT JOIN qkyd_blood b ON hr.user_id = b.user_id AND DATE(hr.read_time) = DATE(b.read_time)
        LEFT JOIN qkyd_steps s ON hr.user_id = s.user_id AND DATE(hr.read_time) = DATE(s.read_time)
        WHERE hr.user_id = #{userId}
        AND DATE(hr.read_time) BETWEEN #{startDate} AND #{endDate}
        GROUP BY hr.user_id
    </select>

    <insert id="insertHealthReport" parameterType="HealthReport" useGeneratedKeys="true" keyProperty="id">
        insert into health_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="reportType != null">report_type,</if>
            <if test="reportDate != null">report_date,</if>
            <if test="reportTitle != null">report_title,</if>
            <if test="summary != null">summary,</if>
            <if test="riskLevel != null">risk_level,</if>
            <if test="abnormalCount != null">abnormal_count,</if>
            <if test="avgHeartRate != null">avg_heart_rate,</if>
            <if test="avgBloodPressure != null">avg_blood_pressure,</if>
            <if test="totalSteps != null">total_steps,</if>
            <if test="fileUrl != null">file_url,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="reportType != null">#{reportType},</if>
            <if test="reportDate != null">#{reportDate},</if>
            <if test="reportTitle != null">#{reportTitle},</if>
            <if test="summary != null">#{summary},</if>
            <if test="riskLevel != null">#{riskLevel},</if>
            <if test="abnormalCount != null">#{abnormalCount},</if>
            <if test="avgHeartRate != null">#{avgHeartRate},</if>
            <if test="avgBloodPressure != null">#{avgBloodPressure},</if>
            <if test="totalSteps != null">#{totalSteps},</if>
            <if test="fileUrl != null">#{fileUrl},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateHealthReport" parameterType="HealthReport">
        update health_report
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="reportType != null">report_type = #{reportType},</if>
            <if test="reportDate != null">report_date = #{reportDate},</if>
            <if test="reportTitle != null">report_title = #{reportTitle},</if>
            <if test="summary != null">summary = #{summary},</if>
            <if test="riskLevel != null">risk_level = #{riskLevel},</if>
            <if test="abnormalCount != null">abnormal_count = #{abnormalCount},</if>
            <if test="avgHeartRate != null">avg_heart_rate = #{avgHeartRate},</if>
            <if test="avgBloodPressure != null">avg_blood_pressure = #{avgBloodPressure},</if>
            <if test="totalSteps != null">total_steps = #{totalSteps},</if>
            <if test="fileUrl != null">file_url = #{fileUrl},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHealthReportById" parameterType="Long">
        delete from health_report where id = #{id}
    </delete>

    <delete id="deleteHealthReportByIds" parameterType="Long">
        delete from health_report where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
