<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qkyd.health.mapper.UeitDeviceInfoExtendMapper">

    <resultMap type="UeitDeviceInfoExtend" id="UeitDeviceInfoExtendResult">
        <result property="deviceId"    column="device_id"    />
        <result property="lastCommunicationTime"    column="last_communication_time"    />
        <result property="batteryLevel"    column="battery_level"    />
        <result property="step"    column="step"    />
        <result property="alarmContent"    column="alarm_content"    />
        <result property="alarmTime"    column="alarm_time"    />
        <result property="temp"    column="temp"    />
        <result property="tempTime"    column="temp_time"    />
        <result property="heartRate"    column="heart_rate"    />
        <result property="heartRateTime"    column="heart_rate_time"    />
        <result property="bloodDiastolic"    column="blood_diastolic"    />
        <result property="bloodSystolic"    column="blood_systolic"    />
        <result property="bloodTime"    column="blood_time"    />
        <result property="spo2"    column="spo2"    />
        <result property="spo2Time"    column="spo2_time"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
        <result property="location"    column="location"    />
        <result property="type"    column="type"    />
        <result property="positioningTime"    column="positioning_time"    />
    </resultMap>

    <sql id="selectUeitDeviceInfoExtendVo">
        select device_id, last_communication_time, battery_level, step, alarm_content, alarm_time, temp, temp_time, heart_rate, heart_rate_time, blood_diastolic, blood_systolic, blood_time, spo2, spo2_time, longitude, latitude, location, type, positioning_time from qkyd_device_info_extend
    </sql>

    <select id="selectUeitDeviceInfoExtendList" parameterType="UeitDeviceInfoExtend" resultMap="UeitDeviceInfoExtendResult">
        <include refid="selectUeitDeviceInfoExtendVo"/>
        <where>
            <if test="batteryLevel != null "> and battery_level = #{batteryLevel}</if>
            <if test="step != null "> and step = #{step}</if>
            <if test="alarmContent != null  and alarmContent != ''"> and alarm_content = #{alarmContent}</if>
            <if test="alarmTime != null "> and alarm_time = #{alarmTime}</if>
            <if test="temp != null "> and temp = #{temp}</if>
            <if test="tempTime != null "> and temp_time = #{tempTime}</if>
            <if test="heartRate != null "> and heart_rate = #{heartRate}</if>
            <if test="heartRateTime != null "> and heart_rate_time = #{heartRateTime}</if>
            <if test="bloodDiastolic != null "> and blood_diastolic = #{bloodDiastolic}</if>
            <if test="bloodSystolic != null "> and blood_systolic = #{bloodSystolic}</if>
            <if test="bloodTime != null "> and blood_time = #{bloodTime}</if>
            <if test="spo2 != null "> and spo2 = #{spo2}</if>
            <if test="spo2Time != null "> and spo2_time = #{spo2Time}</if>
            <if test="longitude != null "> and longitude = #{longitude}</if>
            <if test="latitude != null "> and latitude = #{latitude}</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="positioningTime != null"> and positioning_time = #{positioningTime}</if>
        </where>
        order by qkyd_device_info_extend.id desc
    </select>

    <select id="selectUeitDeviceInfoExtendByDeviceId" parameterType="Long" resultMap="UeitDeviceInfoExtendResult">
        <include refid="selectUeitDeviceInfoExtendVo"/>
        where device_id = #{deviceId}
    </select>
    <select id="realTimeData" resultType="com.qkyd.health.domain.dto.RealTimeData">
        SELECT u.user_id as userId,u.nick_name as nickName,u.sex,u.age,d.temp as temperatureValue,d.heart_rate as heartRateValue,d.spo2 as spo2Value,d.last_communication_time as readTime
        FROM
            qkyd_device_info di
        JOIN
            sys_user u ON di.user_id = u.user_id
        JOIN
        	  qkyd_device_info_extend d ON di.id = device_id
        WHERE
            d.last_communication_time >= DATE_SUB(NOW(), INTERVAL 15 MINUTE)
        ORDER BY
            u.user_id, d.device_id;
    </select>
    <select id="indexUserLocation" resultType="com.qkyd.health.domain.UeitDeviceInfoExtend">
		SELECT a.longitude, a.latitude, c.nick_name AS nickName
		FROM qkyd_device_info_extend a
		LEFT JOIN qkyd_device_info b ON a.device_id = b.id
		LEFT JOIN sys_user c ON b.user_id = c.user_id
    </select>

    <insert id="insertUeitDeviceInfoExtend" parameterType="UeitDeviceInfoExtend" useGeneratedKeys="true" keyProperty="deviceId">
        insert into qkyd_device_info_extend
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">device_id,</if>
            <if test="lastCommunicationTime != null">last_communication_time,</if>
            <if test="batteryLevel != null">battery_level,</if>
            <if test="step != null">step,</if>
            <if test="alarmContent != null">alarm_content,</if>
            <if test="alarmTime != null">alarm_time,</if>
            <if test="temp != null">temp,</if>
            <if test="tempTime != null">temp_time,</if>
            <if test="heartRate != null">heart_rate,</if>
            <if test="heartRateTime != null">heart_rate_time,</if>
            <if test="bloodDiastolic != null">blood_diastolic,</if>
            <if test="bloodSystolic != null">blood_systolic,</if>
            <if test="bloodTime != null">blood_time,</if>
            <if test="spo2 != null">spo2,</if>
            <if test="spo2Time != null">spo2_time,</if>
            <if test="longitude != null">longitude,</if>
            <if test="latitude != null">latitude,</if>
            <if test="location != null">location,</if>
            <if test="type != null">type,</if>
            <if test="positioningTime != null">positioning_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">#{deviceId},</if>
            <if test="lastCommunicationTime != null">#{lastCommunicationTime},</if>
            <if test="batteryLevel != null">#{batteryLevel},</if>
            <if test="step != null">#{step},</if>
            <if test="alarmContent != null">#{alarmContent},</if>
            <if test="alarmTime != null">#{alarmTime},</if>
            <if test="temp != null">#{temp},</if>
            <if test="tempTime != null">#{tempTime},</if>
            <if test="heartRate != null">#{heartRate},</if>
            <if test="heartRateTime != null">#{heartRateTime},</if>
            <if test="bloodDiastolic != null">#{bloodDiastolic},</if>
            <if test="bloodSystolic != null">#{bloodSystolic},</if>
            <if test="bloodTime != null">#{bloodTime},</if>
            <if test="spo2 != null">#{spo2},</if>
            <if test="spo2Time != null">#{spo2Time},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="location != null">#{location},</if>
            <if test="type != null">#{type},</if>
            <if test="positioningTime != null">#{positioningTime},</if>
         </trim>
    </insert>

    <update id="updateUeitDeviceInfoExtend" parameterType="UeitDeviceInfoExtend">
        update qkyd_device_info_extend
        <trim prefix="SET" suffixOverrides=",">
            <if test="lastCommunicationTime != null">last_communication_time = #{lastCommunicationTime},</if>
            <if test="batteryLevel != null">battery_level = #{batteryLevel},</if>
            <if test="step != null">step = #{step},</if>
            <if test="alarmContent != null">alarm_content = #{alarmContent},</if>
            <if test="alarmTime != null">alarm_time = #{alarmTime},</if>
            <if test="temp != null">temp = #{temp},</if>
            <if test="tempTime != null">temp_time = #{tempTime},</if>
            <if test="heartRate != null">heart_rate = #{heartRate},</if>
            <if test="heartRateTime != null">heart_rate_time = #{heartRateTime},</if>
            <if test="bloodDiastolic != null">blood_diastolic = #{bloodDiastolic},</if>
            <if test="bloodSystolic != null">blood_systolic = #{bloodSystolic},</if>
            <if test="bloodTime != null">blood_time = #{bloodTime},</if>
            <if test="spo2 != null">spo2 = #{spo2},</if>
            <if test="spo2Time != null">spo2_time = #{spo2Time},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="location != null">location = #{location},</if>
            <if test="type != null">type = #{type},</if>
            <if test="positioningTime != null">positioning_time = #{positioningTime},</if>
        </trim>
        where device_id = #{deviceId}
    </update>

    <delete id="deleteUeitDeviceInfoExtendByDeviceId" parameterType="Long">
        delete from qkyd_device_info_extend where device_id = #{deviceId}
    </delete>

    <delete id="deleteUeitDeviceInfoExtendByDeviceIds" parameterType="String">
        delete from qkyd_device_info_extend where device_id in
        <foreach item="deviceId" collection="array" open="(" separator="," close=")">
            #{deviceId}
        </foreach>
    </delete>
</mapper>
