<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qkyd.health.mapper.UeitDeviceInfoMapper">

    <resultMap type="UeitDeviceInfo" id="UeitDeviceInfoResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="name" column="name"/>
        <result property="imei" column="imei"/>
        <result property="type" column="type"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectUeitDeviceInfoVo">
        select id, user_id, name, imei, type, create_time from qkyd_device_info
    </sql>

    <select id="selectUeitDeviceInfoList" parameterType="UeitDeviceInfo" resultMap="UeitDeviceInfoResult">
        <include refid="selectUeitDeviceInfoVo"/>
        <where>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="imei != null  and imei != ''">and imei = #{imei}</if>
            <if test="type != null  and type != ''">and type = #{type}</if>
        </where>
        order by qkyd_device_info.id desc
    </select>

    <select id="selectUeitDeviceInfoById" parameterType="Long" resultMap="UeitDeviceInfoResult">
        <include refid="selectUeitDeviceInfoVo"/>
        where id = #{id}
    </select>

    <select id="selectUeitDeviceInfoByImei" resultType="com.qkyd.health.domain.UeitDeviceInfo">
        select id, user_id, name, imei, type, create_time from qkyd_device_info
        where imei = #{imei}
    </select>

    <select id="getUserDevice" resultType="com.qkyd.health.domain.dto.UserDevice">
        SELECT
        sys_user.user_id as userId,
        qkyd_device_info.id AS deviceId,
        sys_user.nick_name as nickName,
        sys_user.phonenumber as phone,
        qkyd_device_info.imei as imei,
        qkyd_device_info.name as deviceName,
        qkyd_device_info.type as type,
        qkyd_device_info_extend.battery_level as batteryLevel,
        qkyd_device_info_extend.last_communication_time as readTime,
        qkyd_device_info.create_time as createTime
        FROM qkyd_device_info
        LEFT JOIN sys_user ON sys_user.user_id = qkyd_device_info.user_id
        LEFT JOIN qkyd_device_info_extend ON qkyd_device_info.id = qkyd_device_info_extend.device_id
        <where>
            <if test="userId != null ">and sys_user.user_id = #{userId}</if>
            <if test="nickName != null  and nickName != ''">and sys_user.nick_name like concat('%', #{nickName}, '%')</if>
            <if test="phone != null  and phone != ''">and sys_user.phonenumber like concat('%', #{phone}, '%')</if>
            <if test="imei != null  and imei != ''">and qkyd_device_info.imei like concat('%', #{imei}, '%')</if>
            <if test="type != null  and type != ''">and qkyd_device_info.type = #{type}</if>
        </where>
        order by qkyd_device_info.id desc
    </select>
    <select id="getDeviceListWithoutUser" parameterType="UeitDeviceInfo" resultType="com.qkyd.health.domain.UeitDeviceInfo">
        SELECT id as deviceId, user_id, name, imei, type, create_time
        FROM qkyd_device_info
        <where>
            user_id IS NULL
            <if test="imei != null  and imei != ''">and qkyd_device_info.imei like concat('%', #{imei}, '%')</if>
        </where>
    </select>
    <select id="userDeviceByUserId" resultType="com.qkyd.health.domain.dto.UserDevice">
        SELECT
        sys_user.user_id as userId,
        qkyd_device_info.id AS deviceId,
        sys_user.nick_name as nickName,
        sys_user.phonenumber as phone,
        qkyd_device_info.imei as imei,
        qkyd_device_info.name as deviceName,
        qkyd_device_info.type as type,
        qkyd_device_info_extend.battery_level as batteryLevel,
        qkyd_device_info_extend.last_communication_time as readTime,
        qkyd_device_info.create_time as createTime
        FROM sys_user
        LEFT JOIN qkyd_device_info ON sys_user.user_id = qkyd_device_info.user_id
        LEFT JOIN qkyd_device_info_extend ON qkyd_device_info.id = qkyd_device_info_extend.device_id
        <where>
            <if test="userId != null ">and sys_user.user_id = #{userId}</if>
        </where>
    </select>

    <insert id="insertUeitDeviceInfo" parameterType="UeitDeviceInfo" useGeneratedKeys="true" keyProperty="id">
        insert into qkyd_device_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="name != null">name,</if>
            <if test="imei != null and imei != ''">imei,</if>
            <if test="type != null">type,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="name != null">#{name},</if>
            <if test="imei != null and imei != ''">#{imei},</if>
            <if test="type != null">#{type},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>
    <update id="addDeviceToUser">
        update qkyd_device_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateUeitDeviceInfo" parameterType="UeitDeviceInfo">
        update qkyd_device_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="imei != null and imei != ''">imei = #{imei},</if>
            <if test="type != null">type = #{type},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUeitDeviceInfoById" parameterType="Long">
        delete from qkyd_device_info where id = #{id}
    </delete>

    <delete id="deleteUeitDeviceInfoByIds" parameterType="String">
        delete from qkyd_device_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
