<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qkyd.health.mapper.AiHealthRecordMapper">

    <resultMap type="com.qkyd.health.domain.AiHealthRecord" id="AiHealthRecordResult">
        <id property="id" column="id"/>
        <result property="deviceId" column="device_id"/>
        <result property="userId" column="user_id"/>
        <result property="riskLevel" column="risk_level"/>
        <result property="riskScore" column="risk_score"/>
        <result property="anomalyCount" column="anomaly_count"/>
        <result property="riskFactors" column="risk_factors"/>
        <result property="rawData" column="raw_data"/>
        <result property="dataPoints" column="data_points"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectAiHealthRecordVo">
        select id, device_id, user_id, risk_level, risk_score, anomaly_count, 
               risk_factors, raw_data, data_points, create_time, update_time
        from ai_health_record
    </sql>

    <select id="selectAiHealthRecordById" resultMap="AiHealthRecordResult">
        <include refid="selectAiHealthRecordVo"/>
        where id = #{id}
    </select>

    <select id="selectAiHealthRecordList" parameterType="com.qkyd.health.domain.AiHealthRecord" resultMap="AiHealthRecordResult">
        <include refid="selectAiHealthRecordVo"/>
        <where>
            <if test="deviceId != null and deviceId != ''">
                AND device_id = #{deviceId}
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="riskLevel != null and riskLevel != ''">
                AND risk_level = #{riskLevel}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectLatestByDeviceId" resultMap="AiHealthRecordResult">
        <include refid="selectAiHealthRecordVo"/>
        where device_id = #{deviceId}
        order by create_time desc
        limit 1
    </select>

    <insert id="insertAiHealthRecord" parameterType="com.qkyd.health.domain.AiHealthRecord" useGeneratedKeys="true" keyProperty="id">
        insert into ai_health_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceId != null and deviceId != ''">device_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="riskLevel != null and riskLevel != ''">risk_level,</if>
            <if test="riskScore != null">risk_score,</if>
            <if test="anomalyCount != null">anomaly_count,</if>
            <if test="riskFactors != null">risk_factors,</if>
            <if test="rawData != null">raw_data,</if>
            <if test="dataPoints != null">data_points,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceId != null and deviceId != ''">#{deviceId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="riskLevel != null and riskLevel != ''">#{riskLevel},</if>
            <if test="riskScore != null">#{riskScore},</if>
            <if test="anomalyCount != null">#{anomalyCount},</if>
            <if test="riskFactors != null">#{riskFactors},</if>
            <if test="rawData != null">#{rawData},</if>
            <if test="dataPoints != null">#{dataPoints},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateAiHealthRecord" parameterType="com.qkyd.health.domain.AiHealthRecord">
        update ai_health_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceId != null and deviceId != ''">device_id = #{deviceId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="riskLevel != null and riskLevel != ''">risk_level = #{riskLevel},</if>
            <if test="riskScore != null">risk_score = #{riskScore},</if>
            <if test="anomalyCount != null">anomaly_count = #{anomalyCount},</if>
            <if test="riskFactors != null">risk_factors = #{riskFactors},</if>
            <if test="rawData != null">raw_data = #{rawData},</if>
            <if test="dataPoints != null">data_points = #{dataPoints},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAiHealthRecordById">
        delete from ai_health_record where id = #{id}
    </delete>

    <delete id="deleteAiHealthRecordByIds">
        delete from ai_health_record where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
